.rs-model-video-photo .model-video-photo {
   max-width: 1920px;
   width: 100%;
   padding: 86px 0 70px;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}

.rs-model-video-photo .model-video-photo .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    -ms-grid-rows: 345px 30px 115px 30px 345px 30px 490px 30px 490px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 345px 115px 345px 490px 490px;
    grid-gap: 30px;
}

.rs-model-video-photo .model-video-photo h2 {
    margin: 0 0 28px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #73612b;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}

.rs-model-video-photo .model-video-photo p {
    margin: 0 0 87px;
    padding: 0 78px 0 0;
    font-size: 18px;
    line-height: 26px;
    color: #949998;
    letter-spacing: 0.5px;
}

.rs-model-video-photo .model-video-photo .grid-container p {
    padding-right: 0;
    margin-bottom: 0;
    color: #fff;
}

.rs-model-video-photo .model-video-photo .grid-container a {
    display: block;
}

.rs-model-video-photo .model-video-photo .overlay {
    position: relative;
}

.rs-model-video-photo .model-video-photo .overlay:hover .image__overlay  {
	opacity: 1;
}

.rs-model-video-photo .model-video-photo .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rs-model-video-photo .model-video-photo video {
    width: 100%;
    height: auto;
}

.rs-model-video-photo .model-video-photo .grid-container .image-poly {
    font-family: 'object-fit: cover';
}

.rs-model-video-photo .model-video-photo .photo1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.rs-model-video-photo .model-video-photo .photo2 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
}

.rs-model-video-photo .model-video-photo .photo3 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: auto;
}

.rs-model-video-photo .model-video-photo .video4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: auto;
    background-image: url(../img/video2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rs-model-video-photo .model-video-photo .photo5 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.rs-model-video-photo .model-video-photo .photo6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
}

.rs-model-video-photo .model-video-photo .video7 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-column-start: 3;
    grid-row-start: 4;
    background-image: url(../img/video3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rs-model-video-photo .model-video-photo .video8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    background-image: url(../img/video4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.rs-model-video-photo .model-video-photo .photo9 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
} 
.rs-model-video-photo .model-video-photo .photo10 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
}

.rs-model-video-photo .model-video-photo .image__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: right 20px bottom 20px;
    background-color: rgba(115, 97, 43, .7);
    color: #fff;
    text-align: center;
    font-size: 20px;    
    text-transform: uppercase;
    opacity: 0;
    z-index: 5;
}

.rs-model-video-photo .model-video-photo .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    text-align: center;
}

.rs-model-video-photo .model-video-photo .wrap img {
    margin-bottom: 15px;
    width: 58px;
    height: 46px;
}

.rs-model-video-photo .model-video-photo .wrap img.camera_icon {
    height: 49px;
    width: 49px;
}

/* Simple fade transition, */

 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* media queries */
@media (max-width: 1199px) {
    .rs-model-video-photo .model-video-photo {
        padding: 60px 0;
    }

    .rs-model-video-photo .model-video-photo  h2 {
        margin-bottom: 25px;
        font-size: 29px;
        line-height: 30px;
    }

    .rs-model-video-photo .model-video-photo  p {
        padding-right: 0;
        font-size: 16px;
        margin-bottom: 40px;
    }
}

@media (max-width: 997px) {
    .rs-model-video-photo .model-video-photo .grid-container {
        -ms-grid-columns: 1fr 30px 1fr;
        -ms-grid-rows: 345px 30px 345px 30px 345px 30px 345px 30px 345px 30px 345px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 345px 345px 345px 345px 345px 345px;
        grid-gap: 30px;
    }
    
    .rs-model-video-photo .model-video-photo .photo1 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: auto;
    }

    .rs-model-video-photo .model-video-photo .photo2 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;    
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: auto;
        
    }

    .rs-model-video-photo .model-video-photo .photo2 img {
        object-position: top center;
    }

    .rs-model-video-photo .model-video-photo .grid-container .image-poly {
        font-family: 'object-fit: cover; object-position: top center;';
    }

    .rs-model-video-photo .model-video-photo .photo3 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;

        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: auto;
    }

    .rs-model-video-photo .model-video-photo .video4 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-column-start: 1;
        grid-row-start: 3;
        background-image: url(../img/video2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .rs-model-video-photo .model-video-photo .photo5 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: auto;
        
    }


    .rs-model-video-photo .model-video-photo .photo6 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-column-start: 1;
        grid-column-end: auto;
        grid-row-start: 4;
        grid-row-end: auto;
    }

    .rs-model-video-photo .model-video-photo .video7 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 7;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        grid-column-end: auto;
        grid-row-start: 4;
        grid-row-end: auto;
    }

    .rs-model-video-photo .model-video-photo .video8 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 11;
        -ms-grid-row-span: 1;
        grid-column-start: 1;
        grid-column-end: auto;
        grid-row-start: 6;
        grid-column-end: auto;
        
    } 
    .rs-model-video-photo .model-video-photo .photo9 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        -ms-grid-row: 9;
        -ms-grid-row-span: 1;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 5;
    } 
    .rs-model-video-photo .model-video-photo .photo10 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 11;
        -ms-grid-row-span: 1;
        grid-column-start: 2;
        grid-row-start: 6;
    }
}

@media (min-width: 768px) {
    .rs-model-video-photo .model-video-photo .modal-dialog{
        width: 900px;
    }
}

@media (max-width: 475px) {
    .rs-model-video-photo .model-video-photo .grid-container {
        display: flex;
        flex-wrap: wrap;
    }

    .overlay {
        width: 100%;
        margin-bottom: 15px;
    }
}